enhanced_workflow_with_resume.json
{
  "name": "Whisper YT with Resume",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [-720, -208],
      "id": "ccb55ef1-85f3-4141-bc71-469f8bde4c60",
      "name": "When clicking 'Test workflow'"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://127.0.0.1:7863/gradio/incomplete_jobs",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-720, -80],
      "id": "resume-check-node",
      "name": "Check Incomplete Jobs"
    },
    {
      "parameters": {
        "jsCode": "// Check if there are incomplete jobs\nconst incompleteJobs = $input.first().json;\n\nif (incompleteJobs.count > 0) {\n  return {\n    hasIncompleteJobs: true,\n    jobCount: incompleteJobs.count,\n    jobIds: incompleteJobs.incomplete_jobs\n  };\n} else {\n  return {\n    hasIncompleteJobs: false,\n    jobCount: 0,\n    jobIds: []\n  };\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-496, -80],
      "id": "resume-decision-node",
      "name": "Process Resume Decision"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:7863/gradio/resume_job",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"job_id\": \"{{ $json.jobIds[0] }}\"}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-272, -80],
      "id": "resume-job-node",
      "name": "Resume Job"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1EGkxO-qv4M32IeLIfWi-wRu03X4XbGRPsR5SV_gI6Zc",
          "mode": "list",
          "cachedResultName": "acsmht_unique_rows",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1EGkxO-qv4M32IeLIfWi-wRu03X4XbGRPsR5SV_gI6Zc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 68731048,
          "mode": "list",
          "cachedResultName": "test4",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1EGkxO-qv4M32IeLIfWi-wRu03X4XbGRPsR5SV_gI6Zc/edit#gid=68731048"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [-720, 80],
      "id": "f77a8244-6dd0-4820-891b-92be10c4e716",
      "name": "Google Sheets",
      "retryOnFail": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "MpbvyDUP1FRm8HRw",
          "name": "Google Sheets account m4tthias@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "745a2790-5319-4848-b686-3a01462c0dd2",
              "name": "urls",
              "value": "={{ $json.url }}",
              "type": "string"
            },
            {
              "id": "d2a83ac6-c09f-4473-8a5b-d509e01f6393",
              "name": "title",
              "value": "={{ $json.title }}",
              "type": "string"
            },
            {
              "id": "48ec819f-5926-44e5-8040-1e965482e401",
              "name": "Processed",
              "value": "={{ $json.processed }}",
              "type": "string"
            },
            {
              "id": "e29851f5-1ea7-4f64-8e37-8c7559d0599e",
              "name": "dir",
              "value": "D:/Projects/acsm/exmilton_gordon/",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [-496, 80],
      "id": "4258247c-fb93-4941-9487-2270c4b84c36",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "options": {
          "reset": false
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [384, -224],
      "id": "a7cf6aca-acf5-47d2-ab01-ad8417ff2736",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:7863/gradio/handle_transcription",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"data\": [\n    {\n      \"url\": \"{{ $('Loop Over Items').item.json.urls }}\",\n      \"dir\": \"{{ $('Create Folder1').item.json.folderPath }}\",\n      \"lang\": \"Chinese\",\n      \"model_choice\": \"Local Whisper\",\n      \"local_model\": \"medium\",\n      \"groq_model\": \"whisper-large-v3\",\n      \"translate\": false\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-528, 352],
      "id": "6c85360d-c9e8-4fb9-9f79-95fc44d602df",
      "name": "Whisper Transcribe",
      "retryOnFail": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "http://127.0.0.1:7863/gradio/job_status?",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "job_id",
              "value": "={{ $('Whisper Transcribe').item.json.job_ids[0] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-16, 352],
      "id": "30dc3acb-335d-444d-af05-a1c9558eb76b",
      "name": "Job status"
    },
    {
      "parameters": {
        "jsCode": "// Get the input item\nconst inputData = $input.first().json;\n\n// Extract and sanitize values\nconst rawDir = (inputData.dir || \"$input.first().json.dir\").trim().replace(/\\\\/g, \"/\");\nconst rawTitle = (inputData.title || \"$input.first().json.title\").trim();\n\n// Validate input\nif (!rawDir || !rawTitle) {\n  throw new Error(\"Missing 'dir' or 'title'\");\n}\n\n// Sanitize illegal characters in title (for folder/file name safety)\nconst sanitizedTitle = rawTitle.replace(/[<>:\"/\\\\|?*\\x00-\\x1F]/g, \"\").replace(/\\s+/g, \" \").trim();\n\n// Optional: ensure the dir ends with a slash\nconst dir = rawDir.endsWith(\"/\") ? rawDir : `${rawDir}/`;\n\n// Build full folder path\nconst fullPath = `${dir}${sanitizedTitle}`;\n\n// Output the constructed path\nreturn {\n  folderPath: fullPath\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-624, 112],
      "id": "7a1b7046-58bb-4eb7-87d9-fc99c9254288",
      "name": "Create Folder1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a7abe500-a7c7-4ff6-9f34-0074129d5578",
              "leftValue": "={{ $json.Processed }}",
              "rightValue": "yes",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [-64, -208],
      "id": "601f3fac-49b8-4167-b961-ed66173313fa",
      "name": "If not Processed"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1EGkxO-qv4M32IeLIfWi-wRu03X4XbGRPsR5SV_gI6Zc",
          "mode": "list",
          "cachedResultName": "acsmhk_unique_rows",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1EGkxO-qv4M32IeLIfWi-wRu03X4XbGRPsR5SV_gI6Zc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 68731048,
          "mode": "list",
          "cachedResultName": "test4",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1EGkxO-qv4M32IeLIfWi-wRu03X4XbGRPsR5SV_gI6Zc/edit#gid=68731048"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "processed": "yes",
            "url": "={{ $('Loop Over Items').item.json.urls }}"
          },
          "matchingColumns": [
            "url"
          ],
          "schema": [
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "url",
              "displayName": "url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "duration",
              "displayName": "duration",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "processed",
              "displayName": "displayName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [368, 320],
      "id": "c295bab2-9d79-4dfb-9e5d-f430e1827e67",
      "name": "Update Processed Status",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "MpbvyDUP1FRm8HRw",
          "name": "Google Sheets account m4tthias@gmail.com"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "amount": 30
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [384, 544],
      "id": "151e28a5-70af-444f-9832-d8a93114eba7",
      "name": "30 Seconds",
      "webhookId": "6cc8c637-bafb-4d64-9cd4-8ae2a9f5b7ca"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "pending",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "8fa22519-0c7a-45c0-8589-aaee37459dd4"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "pending"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "d16cbb47-4d81-46c7-8042-b4ab049cd418",
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "complete",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "complete"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "f8dc980a-81ca-48b6-aa04-94340d81c2da",
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "timeout",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "timeout"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [128, 368],
      "id": "08871c2e-97df-44e6-8695-3719d842b4f8",
      "name": "Switch",
      "alwaysOutputData": true,
      "executeOnce": false,
      "retryOnFail": true
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking 'Test workflow'": {
      "main": [
        [
          {
            "node": "Check Incomplete Jobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Incomplete Jobs": {
      "main": [
        [
          {
            "node": "Process Resume Decision",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Resume Decision": {
      "main": [
        [
          {
            "node": "Resume Job",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resume Job": {
      "main": [
        [
          {
            "node": "Process Resume Decision",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "If not Processed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Create Folder1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Whisper Transcribe": {
      "main": [
        [
          {
            "node": "Job status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Job status": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Folder1": {
      "main": [
        [
          {
            "node": "Whisper Transcribe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If not Processed": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Processed Status": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          },
          {
            "node": "30 Seconds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "30 Seconds": {
      "main": [
        [
          {
            "node": "Job status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "30 Seconds",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Processed Status",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "enhanced-resume-workflow",
  "meta": {
    "instanceId": "enhanced-workflow"
  },
  "id": "enhanced-workflow-resume",
  "tags": [
    {
      "createdAt": "2025-01-06T04:05:00.000Z",
      "updatedAt": "2025-01-06T04:05:00.000Z",
      "id": "enhanced-workflow-tag",
      "name": "enhanced resume workflow"
    }
  ]
}